### DataFrame Transformation Methods:

![Column Operators and Methods](pics/DataFrame%20Transformation%20Methods.PNG)

## Aggregation Method

### Grouped data object  
Methods for aggregations on a DataFrame, created by df.groupBy()
- **agg()** -> Compute aggregates by specifying a series of aggregate columns
- **avg()** -> Compute the mean value for each numeric columns for each group
- **count()** -> Count the number of rows for each group
- **max()** -> Compute the max value for each numeric columns for each group
- **mean()** -> Compute the average value for each numeric columns for each group
- **min()** -> Compute the min value for each numeric column for each group
- **pivot()** -> Pivots a column of the current DataFrame and performs the specified aggregation
- **sum()** -> Compute the sum for each numeric columns for each group
- **collect_list()** -> Returns an array consisting of all values within the group
- **collect_set()** -> Returns an array consisting of all unique values within the group
  
Example 1: df.groupBy("col_1").count()  
Example 2: df.groupBy("col_1").agg(sum("col_2").alias("sum_col_2"))

### Math Functions
- **ceil()** -> Computes the ceiling of the given column
- **log()** -> Computes the natural logarithm of the given value
- **round()** -> Returns the value of the column e rounded to O decimal places with HALF_UP round mode
- **sqrt()** -> Computes the square root of the specified float value

### Date Time Functions  

- **date_format()** -> Converts a date/timestamp/string to a value of string in the format specified by the date format given by the second argument
- **add_months** -> Returns the date that is numMonths after startDate
- **dayofweek()** -> Extracts the day of the week as an integer from a given date/timestamp/sring
- **from_unixtime()** -> Converts the number of seconds from unix epoch (1970-01-01 00:00:00 UTC) to a string representing the timestamp of that moment in the current system time zone in the yyyy-MM-dd HH:mm:ss format
- **minute()** -> Extracts the minutes as an integer from a given date/timestamp/string
- **unix_timestamp()** -> Converts time string with given pattern to Unix timestamp (in seconds)

### String Functions
- **translate()** -> Translate any character in the src by a character in replaceString
- **regexp_replace()** -> Replace all substrings of the specified string value that match regexp with rep
- **regexp_extract()** -> Extract a specific group matched by a Java regex, from the specified string column
- **Itrim()** -> Removes the leading space characters from the specified string column
- **lower()** -> Converts a string column to lowercase
- **split()** -> Splits str around matches of the given pattern

### Collection Functions
- **array_contains()** -> Returns null if the array is null, true if the array contains a value, and false otherwise
- **element_at()** -> Returns element of array at given index. Array elements are numbered starting with 1
- **explode()** -> Creates a new row for each element in the given array or map column
- **slice()** -> Returns an array containing all the elements in x from index start (or starting from the end if start is negative) with the specified length

### Non-Aggregate Functions
- **col/column()** -> Returns a Column based on the given column name
- **lit()** -> Creates a Column of literal value
- **isnull()** -> Return true iff the column is null 
- **rand()** -> Generate a random column with independent and identically distributed (i.i.d.) samples uniformly distributed in [0.0, 1.0)

### DataFrame-Na Functions
- **dropna()** -> Returns a new DataFrame omitting rows with any, all, or a specified number of null values, considering an optional subset of columns
- **fill()** -> Replace null values with the specified value for an optional subset of columns
- **replace()** -> Returns a new DataFrame replacing a value with another value, considering an optional subset of columns

### Join Functions
- **unionByName()** -> Resolves columns by name
- **join()** -> Joins two DataFrames based on a given expression

Example of joins:  
Inner Join Based on one column: df1.join(df2, 'col_1')  
Inner Join Based on two columns: df1.join(df2, ['col_1', 'col_2'])  
Full Outer Join based on one column: df1.join(df2, 'col_1', 'outer')  
Left Outer Join based on one column: df1.join(df2, df1['col_1'] == df2['col_2'] 'left_outer')

## User Defined Functions (UDF)
- Can't be optimized by Catalyst Optimizer
- Function must be serialized and sent to executors
- Overhead from Python interpreter on executors running Python UDF

In [ ]:
#Define a function:

def first_letter_func(col_1):  
    return col_1[0]  

#Register the UDF (this will serialize the function):
flfUDF = udf(first_letter_func)

#Using the UDF:
display(df.select(flfUDF(col("col_12"))))

In [ ]:
#Register in SQL:
flfUDF = spark.udf.register("sql_flf_udf", first_letter_func)

#By doing this, you will still be able to use the Python version

#Using the UDF in SQL:
SELECT sql_flf_udf(col_1) AS firstletter
FROM table_name

In [ ]:
#Register as Decorator (@udf)
@udf("string")
def first_letter_func(col_1: str) -> str:  
    return col_1[0]  
#Pandas UDF
@pandas_udf("string")
def vectorizedUDF(col_1: pd.Series) -> pd.Series:
    return col_1.str[0]

#OR

def vectorizedUDF(col_1: pd.Series) -> pd.Series:
    return col_1.str[0]
vectorizedUDF = pandas_udf(vectorizedUDF, "string")